*.aux
*.dvi
*.fdb*
*.fls
*.log
*.gz
*.pdf

dist
g5_dist
!lib/**/dist
distTest

node_modules
external
.nyc_output
coverage

src/**/*.js
src/**/*.js.map

test/**/*.js.map

# testing folders

a
b
c
d
e
f
g